.button {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.2s;

  @media (max-width: 768px) {
    font-size: 24px;
    width: 80%;
    line-height: 32px;
  }

  &:hover {
    filter: brightness(120%);
  }
}
