@use "../../../../app/_variables" as vars;

.experience-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 200px;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  h3 {
    font-size: 16px;

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  h3,
  p {
    margin: 0;
  }

  .experience-info {
    .role {
      font-size: 16px;

      @media (max-width: 768px) {
        font-size: 24px;
      }
    }

    .date {
      color: vars.$secondary-text-color;
      font-size: 12px;

      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
  }
}
