@use "../../app/_variables" as vars;

.writeups-section-wrapper {
  margin-top: 32px;
  padding: 16px;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    margin-top: 16%;
    text-align: center;
  }

  .title {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    color: vars.$rjpink;

    @media (max-width: 768px) {
      font-size: 40px;
    }
  }

  .subtitle {
    color: vars.$secondary-text-color;

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .writeups {
    margin-top: 32px;
    display: flex;
    gap: 56px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      margin-top: 16%;
      flex-direction: column;
    }
  }
}
