@use "../../app/_variables" as vars;

.experience-section-wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    color: vars.$rjpink;
  }

  .subtitle {
    color: vars.$secondary-text-color;
  }
}
