@use "../../app/_variables" as vars;

.experience-section-wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    margin-top: 16%;
    text-align: center;
  }

  .title {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    color: vars.$rjpink;

    @media (max-width: 768px) {
      font-size: 48px;
    }
  }

  .subtitle {
    color: vars.$secondary-text-color;

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .experiences {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 32px;
      align-items: center;
    }
  }
}
