@use "../../../../app/_variables" as vars;

.writeup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-basis: 25%;

  h4,
  p {
    margin: 0;
  }

  .title {
  }
  .description {
    text-align: center;
  }
  .button {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: vars.$rjpink;
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
}
